{% extends "base.html" %}
 
{% block content %}

<h1>{{book.title}}</h1>
<img height="120" width="80" src="{{ MEDIA_URL }}{{ book.image }}">
<h4>{{book.author}}</h4>
<p>{{book.genre}}</p>
<p>{{book.description}}</p>
<p>{{book.ISBN}}</p>
<h4>{{book.price}}</h4>

{% comment %}<button class="btn btn-default" onclick="location.href='edit'">Edit</button>{% endcomment %}

{% if book.seller == user %}
<p><button class="btn btn-default" onclick="location.href='{% url 'edit_book' book.id %}'">Edit</button> </p>
{% else %}
<p><button class="btn btn-default" onclick="location.href='{% url 'buy_now_stripe' book.id %}'">Buy Book</button></p>
{% endif %}

<br>

<p><button class="btn btn-default" onclick="location.href='/books'">Back to Books</button> </p>

{% load disqus_tags %}
{% set_disqus_title post.title %}
{% disqus_show_comments %}

{% endblock %}